@import '../../../sass/variables';

.app-footer {
  background-color: $primary-dark;
  color: $primary-light;

  &__social {
    display: flex;

    &-link {
      width: 32px;
      height: 32px;
    }
  }
}
