@import '../../../sass/variables';
:host {
  display: block;
  color: $primary-light;
  letter-spacing: 3px;
  position: relative;
}

.app-logo {
  &__title {
    display: block;
    padding: 3px 0;
    font: 1.5rem 'Marck Script', cursive;

    &::first-letter {
      border: 2px solid $primary-light;
      padding: 0 4px;
      margin-right: 4px;
    }

  }

  &__subtitle {
    position: absolute;
    left: 38px;
    bottom: -1px;
    font-size: 8px;
    font-weight: normal;
  }
}
