@import '../../../sass/variables';

:host {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.app-header {
  padding: 16px 0;
  transition: background-color 0.9s ease-in-out;

  &--dark {
    background-color: $primary-dark;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.app-contacts {
  color: $primary-light;
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 6px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 8px;

    &--address {
      font-style: normal;
      font-size: 12px;
      border-right: 1px solid $primary-light;
    }

    &--phone {
      font-size: 14px;
    }
  }
}
